:root{
  --basic_black: #000000;
  --basic_text: #333333;
  --basic_text_lighter: #666666;
  --basic_blue: #81B3D2;
  --basic_blue_hover: #669EC0;
  --basic_blue_active: #5496BD;
  --basic_brown: #766357;
  --basic_brown_hover: #604E43;
  --basic_brown_active: #503E33;
  --basic_white: #ffffff;
  --basic_neutral: #F2F2F2;
  --basic_neutral_hover: #EBEBEB;
  --basic_neutral_border: #E5E5E5;
  --basic_neutral_active: #BDBBBC;
  --basic_white_transparent: rgba(225, 225, 225, 0.3);
}

body{
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic_text);
  text-transform: uppercase;
  background-color: var(--basic_white);
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
.hidden{
  display: none;
}
.header_Sedona{
  background-color: var(--basic_neutral);
  background-image: url("../img/background_photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
.header{
  text-align: center;
}
.main_navigation{
  background-color: var(--basic_white);
}
.site_navigation{
  list-style: none;
}
.site_navigation a{
  font-weight: 700;
  color: var(--basic_black);
}
.site_navigation a:hover{
  color: var(--basic_blue);
}
.site_navigation a:focus{
  color: var(--basic_blue_hover);
}
.site_navigation a:active{
  color: var(--basic_blue_active);
}
.advantages{
  text-align: center;
}
.advantages_header{
  font-size: 21px;
}
.dates{
  text-align: center;
  line-height: 24px;
}
.dates_header{
  font-size: 30px;
}
.search{
  color: var(--basic_white);
  font-size: 21px;
  line-height: 24px;
  background-color: var(--basic_brown);
}
.search:hover{
  background-color: var(--basic_brown_hover);
}
.search:active{
  background-color: var(--basic_brown_active);
  color: var(--basic_white_transparent);
}
.footer_contacts{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.social_buttons{
  list-style: none;
}
.social_button{
  background-color: var(--basic_blue);
}
.social_button:hover{
  background-color: var(--basic_blue_hover);
}
.social_button:active{
  background-color: var(--basic_blue_active);
}
.twitter:active > img{
  opacity: 0.3;
}
.facebook:active > svg > g{
  opacity: 0.3;
}
.youtube:active > svg > path{
  opacity: 0.3;
}
.hotels_list{
  list-style: none;
}
.hotels_list_header{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic_black);
}
.hotels_list_text{
  font-size: 14px;
  line-height: 21px;
  color: var(--basic_text);
}
.more_information{
  font-size: 14px;
  line-height: 21px;
  color: var(--basic_white);
  background-color: var(--basic_blue);
}
.more_information:hover{
  background-color: var(--basic_blue_hover);
}
.more_information:active{
  background-color: var(--basic_blue_active);
}
.reservation{
  font-size: 14px;
  line-height: 21px;
  color: var(--basic_white);
  background-color: var(--basic_brown);
}
.reservation:hover{
  background-color: var(--basic_brown_hover);
}
.reservation:active{
  background-color: var(--basic_brown_active);
}
.star{
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
}
.rating{
  font-size: 14px;
  line-height: 21px;
  color: var(--basic_text_lighter);
  background-color: var(--basic_neutral);
}
.copyright{
  font-size: 14px;
  line-height: 26px;
  color: var(--basic_black);
}
.logo_container:hover > path{
  fill: var(--basic_blue);
}
.logo_container:active > path{
  fill: var(--basic_neutral_active);
}
